body {
    background-color: #f4f4f4;
    /* display: flex; */
    justify-content: center;
    align-items: left;
}

.container {
    height:100vh;
    width:100%;
    color: #0019a8;
}

.header { 
    height:250px;
    background-color: #0019a8;
    width:100%;
    text-align: center;
}

.logo {
    width:200px;
    margin-top:70px;
    filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(86deg) brightness(118%) contrast(119%);
}

.journeyResults {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    background-color: #ffffff;
    width: 100%;
}
.journeyResults .top{ 
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    gap:10px
}
.journeyResults .left,.journeyResults .right,.middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.journeyResults .middle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.journeyResults .line{
    padding: 20px;
}

.legContainer {
    margin-top:50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.legArrivals, .stops {
    display:inline-flex;
    flex-direction: column;
    gap:30px;
    color:#0019a8;
    text-align: center;
    list-style: none;
}

.middle hr{
    border-top: dashed;
    width: 100px;
    outline:none;
}
.routeLine {
    display:flex;
    flex-direction: column;
    gap:1rem;
    align-items: center;
    justify-content: center;
    /* border:1px solid black; */
    width:100%;
}

.lineImage {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    font-weight:800;
    color:white;
    letter-spacing: 4px;
    border-radius: 40px;
    margin:0px auto;
}

.resultsContainer {
    padding: 20px;
    border-radius:25px;
    margin: 0 50px; 
}

.journeyContainer {
    padding: 25px;
    position: relative;
    background-color: #ffffff;
    margin: 0 100px; 
    bottom: 50px;
    border-radius:25px;
}
.journeyContainer h2{
    flex: none;
    order:0;
    align-self: stretch;
    flex-grow: 0;
}
.journeyContainer form {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 100%;
}

.journeyContainer h2{
    text-align: left;
}

.journeyContainer select {
    border-radius: 15px;
    border:none;
    outline:none;
    border:1px solid #d7d7d7;
    margin: 15px;
    padding: 15px;
    color: #0019a8;
    display: flex;
    flex-direction: row;
    align-items:center;
    padding:10px;
    gap:5px;
    flex: none;
    align-self:stretch;
    flex-grow:0;
}

button {
    background-color: #0019a8;
    color:white;
    border-radius:50px;
    border:none;
    cursor:pointer;
    padding: 15px 20px;
    font-weight: bold;
    border: 2px solid #0019a8;
}

button:hover{
    background-color: #ffffff;
    color: #0019a8;
}